<style type="text/css">
	.ListaInstructores {margin-left: 0%; margin-top: 0%;}
	.Right {margin-right: 2.5%;}
	.Filtros{margin-bottom: 1.5%;}
	.pleft {padding-left: 0%;}
    .ContenedorFiltros{    margin-top: 1%; padding-left: 0px;}
</style>

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Rutinas
            <small>Listado Rutinas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="">Rutinas</li>
        </ol>
    </section>
    
    
    <!-- Main content -->
    <section class="content">
    	<!-- HEADER DEL CONTENIDO-->
        <h4 class="page-header">
            Listado de Rutinas
            <small>
            	En este apartado encontrará a todas las Rutinas registradas en <span class="text-red">spin gym</span>, a demás podrá dar de alta,
                editar o incluso dar de baja a las Rutinas que necesite.
            </small>
        </h4>
        <!-- HEADER DEL CONTENIDO-->
       <div class="alert alert-danger alert-dismissible col-md-12" role="alert" id="alerta" style="display:none;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Atención!</strong> <p id="ErrorTexto"></p>
        </div>
		<div class="row">
        	<div class="col-xs-12">
				<div class="box">
                    <div class="box-header">
                     <div class="col-md-12 Loading" ng-hide="mostrarbuscando!=true">
						<h1 class="text-center">Cargando</h1>
						<div class="sk-spinner sk-spinner-wandering-cubes">
					      <div class="sk-cube1"></div>
					      <div class="sk-cube2"></div>
					    </div>
					</div><!-- loading-->
                        <div class="col-md-12">
                        	<h4>Para realizar alguna acción con un registro, por favor de clic sobre la información correspondiente
                            del cliente para seleccionarlo, y a continuación, de clic en alguno de los botones EDITAR o ELIMINAR.</h4>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive" ng-show="mostrarcontent!=false;">
                    									
                        <table id="listados" class="table table-bordered table-striped">
                <!-- Filtros -->
				<div class="col-md-12 Filtros pleft">
					<div class="row">
						<div class="col-xs-4">
		              <label for="search">Búsqueda:</label>
		              <input ng-model="q" id="search" class="form-control" placeholder="Filtrado">
		            </div>
		            <div class="col-xs-2">
		              <label for="search">Ejercicios Por Página:</label>
		              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
		            </div>
					</div><!-- row -->
				</div><!-- filtros -->
                            <thead>
                                <tr >
                                	<th class="sorting_asc text-center">CODIGO</th>
                                    <th class="text-center">RUTINA</th>
                                    <th class="text-center">DESCRIPCION</th>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">GENERO</th>
                                    <th class="text-center">CUERPO</th>
                                    <th class="text-center">EDAD</th>
                                    <th class="text-center">ENTRENADOR</th>
                                    <th class="text-center">INFORMACION</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr dir-paginate="rut in rutinas | filter:q | itemsPerPage: pageSize" current-page="currentPage"  class="text-center" id="{{'table'+rut.id_rutina}}" ng-click="Selecciontr(this)" class="text-center">
                            		<td>{{rut.id_rutina}}</td>
                            		<td>{{rut.nb_rutina}}</td>
                            		<td>{{rut.desc_rutina | limitTo: 50}}</td>
                            		<td>{{rut.nb_categoriarutina}}</td>
                            		<td>{{rut.nb_tiporutina}}</td>
                            		<td>{{rut.nb_cuerpo}}</td>
                                    <td>{{rut.nb_edad}}</td>
                            		<td>{{rut.nb_nombre+" "+rut.nb_apellidos}}</td>
                            		<td><button class="btn btn-info" ng-click="MostrarRutina(rut.id_rutina)">Mostrar</button></td>
                            	</tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                	<th class="text-center">CODIGO</th>
                                 	<th class="text-center">RUTINA</th>
                                    <th class="text-center">DESCRIPCION</th>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">GENERO</th>
                                    <th class="text-center">CUERPO</th>
                                    <th class="text-center">EDAD</th>
                                    <th class="text-center">ENTRENADOR</th>
                                    <th class="text-center">INFORMACION</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row">
                        	<div class="col-sm-12">
                            	<h3 class="box-title">Acciones</h3>
                           </div>
                           <div class="col-md-12">
                           	<form ng-submit="FiltrarRutinas()">
                           		<div class="col-sm-1">
                           			<button class="btn btn-success btn-sm" <i class="fa fa-plus" ng-click="Agregar()"></i> AGREGAR</button>
                           		</div>

                        		<div class="col-sm-1">
                        			<button class="btn btn-warning btn-sm" ng-click="Editar()"><i class="fa fa-edit"></i> EDITAR</button>
                        		</div>

                            	<div class="col-sm-1">
                            		<button class="btn btn-danger btn-sm" ng-click="Eliminar()"><i class="fa fa-times"></i> ELIMINAR</button>
                            	</div>

                            <div class="col-md-1 "><button class="btn btn-info btn-sm " type="button" ng-click="showfilter=true"><i class="fa fa-male"></i> Filtros</button></div>

                            <div class="col-md-12 ContenedorFiltros">
                            <div class="Filtros" ng-show="showfilter!=false">
                            <div class="col-sm-1"><button type="submit" class="btn btn-primary btn-sm" ng-disabled="disablebtn!=false"><i class="fa fa-search"></i> FILTRAR</button></div>
	                            <div class="col-sm-2 ListaInstructores" id="">
	                                <select ng-model="rutina.entrenador"
	                                 ng-options="ent.id as ent.nombre for ent in entrenadores" class="form-control" required ng-change="CategoriasporEnt()">
	                                    <option value="">Seleccionar...</option>
	                                </select>
	                            </div>

	                            <div class="col-sm-2 ListaInstructores" id="">
	                                <select ng-model="rutina.tipo_rutina"
	                                 ng-options="tipru.id as tipru.nb_categoriarutina for tipru in tipos_rut" class="form-control" required>
	                                    <option value="">Seleccionar...</option>
	                                </select>
	                            </div>
	                            
	                             <div class="col-sm-2 ListaInstructores" id="">
	                                <select ng-model="rutina.genero"
	                                 ng-options="gen.id as gen.nb_tiporutina for gen in generos" class="form-control" required>
	                                    <option value="">Seleccionar...</option>
	                                    
	                                </select>
	                            </div>

                                <div class="col-sm-2 ListaInstructores" id="">
                                    <select ng-model="rutina.edad"
                                     ng-options="ed.id as ed.nb_edad for ed in Edades" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        
                                    </select>
                                </div>

                                <div class="col-sm-2 ListaInstructores" id="">
                                    <select ng-model="rutina.cuerpo"
                                     ng-options="cu.id as cu.nb_cuerpo for cu in cuerpos" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        
                                    </select>
                                </div>
                                    </div><!-- Contenedor Filtros -->
                            </div>
                            </form>
                           </div><!--contet acciones -->
                            <div class="text-center col-md-12">
					          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
					          </div>
                       		 </div>
                    </div><!---TablaDatos --->
                </div>
            </div>
        </div>
    </section>
</aside>

</div>

