<style type="text/css">
	.LabelPregunta {width: 100%;}
</style>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Clientes
                        <small>Formulario de salud de Clientes</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                        <li class="active">Clientes</li>
                    </ol>
                </section>
                
                
                <!-- Main content -->
                <section class="content">
                	<!-- HEADER DEL CONTENIDO-->
                    <div class="alert alert-danger alert-dismissible col-md-12" role="alert" id="alerta" style="display:none;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Atención!</strong> <p id="ErrorTexto"></p>
                    </div>
                    <h4 class="page-header">
                        Formulario de Salud
                        <small>
                        	En este apartado podrá aplicar el formulario de salud a los clientes de <span class="text-red">spin gym</span>, 
                            para verificar cualquier problema de salud que le evite o limite de hacer alguna actividad.
                        </small>
                    </h4>
                    <!-- HEADER DEL CONTENIDO-->

                    <!-- FORMULARIO -->
                    <form ng-submit="RegistrarForm()">
                    <!-- RENGLON CON EL FORMULARIO Y DOS COLUMNAS-->
                    <div class="row">
                    	<!-- COLUMNA IZQUIERDA -->
                    	<div class="col-md-6">
                        	<!-- CAJA -->
							<div class="box box-primary">
                                <!-- HEADER DE LA CAJA -->
                                <div class="box-header">
                                    <h3 class="box-title">Formulario 3-Dieta </h3>
                                </div>
                                <!-- HEADER DE LA CAJA -->
                                    
                                <!-- CUERPO DE LA CAJA -->
                                <div class="box-body">
                                	<div class="form-group">
                                        <label for="nb_cliente" class="LabelPregunta">1. Que desayuna normalmente?</label>
                                        <input type="text" class="form-control" ng-model="resp.desayuno_diario" required>
                                    </div>
                                	
                                	 <div class="form-group">
                                        <label for="nb_cliente" class="LabelPregunta">2. Que como a medio dia normalmente?</label>
                                        <input type="text" class="form-control" ng-model="resp.comida_diaria" required>
                                    </div>
                                
                                    <div class="form-group">
                                        <label for="nb_cliente" class="LabelPregunta">3. Que cena normalmente?</label>
										 <input type="text" class="form-control" ng-model="resp.cena_diaria" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="nb_apellidos" class="LabelPregunta">4. Que tipo de alimentos como entre comidas?</label>
                                         <input type="text" class="form-control" ng-model="resp.entrecomida_diaria" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="LabelPregunta">5. Que tan frecuente como entre comidas?</label>
                                         <input type="text" class="form-control" ng-model="resp.frecuencia_entrecomida">
                                    </div>
                                    <div class="form-group">
                                        <label for="num_edad" class="LabelPregunta">6. Ha estado bajo algún plan alimenticio? Explique?</label>
                                   		<textarea ng-model="resp.plan_alimenticio" 
                                        class="LabelPregunta form-control" ></textarea>
                                    </div>
                                </div>
                                <!-- CUERPO DE LA CAJA -->

                                <!-- FOOTER DE LA CAJA -->
                                <div class="box-footer">
                                     Los campos marcados con <span class="text-red"><strong>*</strong></span> son obligatorios.
                                </div>
                                <!-- FOOTER DE LA CAJA -->
                            </div>
                            <!-- CAJA -->
                        </div>
                        <!-- COLUMNA IZQUIERDA -->
                        
                        <!-- COLUMNA DERECHA -->
                    	<div class="col-md-6">
							<!-- CAJA -->
                            <div class="box box-warning">
                                <!-- HEADER DE LA CAJA -->
                                <div class="box-header">
                                    <h3 class="box-title">Formulario 4- Entrenamiento</h3>
                                </div>
                                <!-- HEADER DE LA CAJA -->
                                
                                <!-- CUERPO DE LA CAJA -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>7. Favor de calificar su nivel de ejercicio en una escala de
                                         1 a 5 (5 siendo muy intenso) para cada rango de edad hasta su edad presente:</label>
                                      	<label for="">15-20: </label>
                                         <select class="form-control" ng-model="resp.intensidad_ejercicio" required>
                                            <option value="">SELECCIONAR</option>
                                            <option value="0" >No tengo esta edad</option>
                                            <option value="1">1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                        </select>
                                        <label for="">21-30: </label>
                                         <select class="form-control" ng-model="resp.intensidad_ejercicio2" required>
                                            <option value="">SELECCIONAR</option>
                                      		<option value="0" >No tengo esta edad</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5">5</option>
                                        </select>
                                        <label for="">31-40: </label>
                                         <select class="form-control" ng-model="resp.intensidad_ejercicio3" required>
                                            <option value="">SELECCIONAR</option>
                                            <option value="0" >No tengo esta edad</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                        </select>
                                         <label for="">41-50: </label>
                                         <select class="form-control" ng-model="resp.intensidad_ejercicio4" required>
                                            <option value="">SELECCIONAR</option>
                                            <option value="0" >No tengo esta edad</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                        </select>
                                         <label for="">51+: </label>
                                         <select class="form-control" ng-model="resp.intensidad_ejercicio5" required>
                                            <option value="">SELECCIONAR</option>
                                           <option value="0">No tengo esta edad</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label>8. Empieza programas de entrenamiento, pero tiene dificultades para llevarlos a cabo?</label>
                                          <select class="form-control" ng-model="resp.programa_ejercicio" required>
                                            <option value="">SELECCIONAR</option>
                                            <option value="1" >Si</option>
                                            <option value="0" >No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>9. Favor de indicar las actividades físicas que le NO le gustaría incluir en su programa de entrenamiento?</label>
                                         <input type="text" class="form-control" ng-model="resp.actividades_indeseables" required>
                                    </div>
                                    
                                     <div class="form-group">
                                        <label>10. Indique cualquier deporte o actividad recreativa en la que participa con regularidad</label>
                                        <input type="text" class="form-control" ng-model="resp.deporte_frecuente" required>
                                    </div>
                                    
                                      <div class="form-group">
                                        <label>11. Con cuanto tiempo posee o desea dedicarle al programa de entrenamiento? (Minutes/day)Minutos al dia? (days/week)Cuantos días de la semana?</label>
                                          <label for=" ">Minutos Por día:</label>
                                           <input type="text" class="form-control" ng-model="resp.minutos_dia" required> 
                                           <label for=" ">días por semana:</label>
                                           <input type="text" class="form-control" ng-model="resp.dias_semana" required>   
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>12. Que desea lograr con el ejercicio?</label>
                                          <input type="text" class="form-control" ng-model="resp.resultado_ejercicio" required> 
                                    </div>
                                    
                                    
                                </div>
                                <!-- CUERPO DE LA CAJA -->
                                
								<!-- FOOTER DE LA CAJA -->
                                <div class="box-footer">
                                    Los campos marcados con <span class="text-red"><strong>*</strong></span> son obligatorios.
                                </div>
                                <!-- FOOTER DE LA CAJA -->
                            </div>
                            <!-- CAJA -->
                        </div>
                        <!-- COLUMNA DERECHA -->
                    </div>
                    <!-- RENGLON CON EL FORMULARIO Y DOS COLUMNAS-->
                    
                    <div class="row">
                    	<div class="col-md-6" align="right"><button type="submit" class="btn btn-primary">REGISTRAR</button></div>
                        <div class="col-md-6" align="left"><button type="button" class="btn btn-danger" ng-click="Redirigir('Clientes')">CANCELAR</button></div>
                    </div>
                    </form>
                    <!-- FORMULARIO -->
                </section>
            </aside>

</div>

