<div class="col-xs-12">
<div class="box">
    <div class="box-header">
<div class="col-sm-12">
	<h4>
        El cliente actual ya cuenta con una rutina (Asignada o personalizada) de 
        <span class="text-red">Spin Gym</span>, recuerde que Al pasar al siguiente apartado se 
        <strong>dará de baja</strong> la rutina actual del cliente,
    	para asignar una rutina del catálogo existente, si no se asignará una rutina no continue al siguiente
        apartado.
    </h4>
    <div class="col-xs-6 pull-right Botones RightButton">
    	<div class="col-xs-3"><input type="button" class="btn btn-danger" value="Cancelar" ng-click="CancelarR()"></div>
        <div class="col-xs-3"><input type="button" class="btn btn-success" value="Continuar" ng-click="ContinuarR()"></div>
        
</div><!-- Botones-->
</div><!-- col-sm-12 -->